{% unless request.page_type == 'index' or request.page_type == 'cart' or request.page_type == 'list-collections' %}
<nav class="breadcrumb {% if request.page_type == 'product' %} product_bread{% endif %} small-body-text " role="navigation" aria-label="breadcrumbs">
  {% if request.page_type == 'product' %}
    <a href="/collections/all?sort_by=manual#MainContent">{{ settings.breadcrumbs_first_item }} </a>
  {% else %}
    <a href="/collections/all">{{ settings.breadcrumbs_first_item }}</a>
  {% endif %}
  
  {% if request.page_type == 'page' %}
    <span class="g_thingy" aria-hidden="true">&lsaquo;</span>
    <span>{{ page.title }}</span>
  {% elsif request.page_type == 'product' %}
    {% for c in product.collections %}
      {% if c.title != "All products and services" %}
        <span class="g_thingy" aria-hidden="true">&lsaquo;</span><span class="product_bread small-body-text"><a href="{{ c.url }}">{{ c.title }}</a></span>
        {% break %}
      {% endif %}
    {% endfor %}
  {% elsif request.page_type == 'collection' and collection.handle %}
    <span class="g_thingy" aria-hidden="true"> <&nbsp;</span>
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <span class="g_thingy" aria-hidden="true">&rsaquo;</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
      <span>{{ collection.title }}</span>
    {% endif %}
  {% elsif request.page_type == 'blog' %}
    <span class="g_thingy" aria-hidden="true">&rsaquo;</span>
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <span class="g_thingy" aria-hidden="true">&rsaquo;</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
      <span>{{ blog.title }}</span>
    {% endif %}
  {% elsif request.page_type == 'article' %}
    <span class="g_thingy" aria-hidden="true">&rsaquo;</span>
    {{ blog.title | link_to: blog.url }}
    <span class="g_thingy" aria-hidden="true">&rsaquo;</span>
    <span>{{ article.title }}</span>
  {% else %}
   <span class="g_thingy" aria-hidden="true">&rsaquo;</span>
   <span>{{ page_title }}</span>
  {% endif %}
</nav>
{% endunless %}