
<div class="categories">
  <div class="c-menu-wrapper">
{% for block in section.blocks %} 
  {% if block.settings.main_collection_link != blank %}
        <a class="main_collection_url"  href="{{ block.settings.main_collection_link }}">  <span class="c-container"> <i class="home-icon {{ block.settings.icon_class }}"></i> {{ block.settings.collection_name }}</span>
        </a>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div  class="sub_collection page-width">
    <div class="layout_block">
       <h3 class="sub_col_h3">
         {% for block in section.blocks %}    
 <a class="collection_link {% if block.settings.sub_collection contains collection.handle or block.settings.collection_link contains collection.handle %}active_layout{% endif %}" href="{{ block.settings.collection_link }}" >{{ block.settings.sub_collection }}</a>
          {% endfor %}</h3>
    </div>
  </div>
