{% liquid
  assign max_items = section.settings.max_products

  assign use_slider = false
  if section.settings.layout_type == 'carousel' or section.settings.layout_type == 'editorial' or section.settings.carousel_on_mobile
    assign use_slider = true
  endif
%}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  data-testid="product-list"
  class="
    section
    section--{{ section.settings.section_width }}
    color-{{ section.settings.color_scheme }}
    section-resource-list
    spacing-style
    gap-style
  "
  style="
    {% render 'spacing-style', settings: section.settings %}
    {% render 'gap-style', value: section.settings.gap %}
  "
>
  <div class="section-resource-list__header">
    {%- content_for 'block', type: '_product-list-content', id: 'static-header' -%}
  </div>

  {% if use_slider %}
    {% capture list_items %}
      {% if section.settings.collection != blank and section.settings.collection.products_count > 0 %}
        {% for product in section.settings.collection.products limit: max_items %}
          <div class="resource-list__item">
            {% # theme-check-disable UniqueStaticBlockId %}
              {% content_for 'block', type: '_product-card', id: 'static-product-card', closest.product: product %}
            {% # theme-check-enable UniqueStaticBlockId %}
          </div>
          {% unless forloop.last %}
            <!--@list/split-->
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for i in (1..max_items) %}
          <div class="resource-list__item">
            {% # theme-check-disable UniqueStaticBlockId %}
              {% content_for 'block', type: '_product-card', id: 'static-product-card', closest.product: null %}
            {% # theme-check-enable UniqueStaticBlockId %}
          </div>
          {% unless forloop.last %}
            <!--@list/split-->
          {% endunless %}
        {% endfor %}
      {% endif %}
    {% endcapture %}

    {% liquid
      assign list_items_array = list_items | strip | split: '<!--@list/split-->'
    %}

    {% render 'resource-list',
      list_items: list_items,
      list_items_array: list_items_array,
      settings: section.settings,
      slide_count: max_items,
      content_type: 'products',
      test_id: 'resource-list-grid'
    %}

  {% else %}
    <div
      class="resource-list resource-list--grid"
      data-testid="resource-list-grid"
      style="
        --resource-list-columns: {{ section.settings.columns }};
        --resource-list-mobile-columns: {{ section.settings.mobile_columns }};
        --resource-list-column-gap: {{ section.settings.columns_gap }}px;
        --resource-list-row-gap: {{ section.settings.rows_gap }}px;
      "
    >
      {% if section.settings.collection != blank and section.settings.collection.products_count > 0 %}
        {% for product in section.settings.collection.products limit: max_items %}
          <div class="resource-list__item">
            {% # theme-check-disable UniqueStaticBlockId %}
              {% content_for 'block', type: '_product-card', id: 'static-product-card', closest.product: product %}
            {% # theme-check-enable UniqueStaticBlockId %}
          </div>
        {% endfor %}
      {% else %}
        {% for i in (1..max_items) %}
          <div class="resource-list__item">
            {% # theme-check-disable UniqueStaticBlockId %}
              {% content_for 'block', type: '_product-card', id: 'static-product-card', closest.product: null %}
            {% # theme-check-enable UniqueStaticBlockId %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}

  <div
    class="section-resource-list__content"
    style="--horizontal-alignment: {{ section.settings.horizontal_alignment }};"
  >
    {%- content_for 'blocks' -%}
  </div>
</div>

{% schema %}
{
  "name": "Product list light",
  "class": "ui-test-product-list",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "Layout type",
      "options": [
        { "value": "grid", "label": "Grid" },
        { "value": "carousel", "label": "Carousel" },
        { "value": "editorial", "label": "Editorial" }
      ],
      "default": "grid"
    },
    {
      "type": "checkbox",
      "id": "carousel_on_mobile",
      "label": "Carousel on mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "max_products",
      "label": "Product count",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 6
    }
  ],
  "presets": [
    {
      "name": "Product list light"
    }
  ]
}
{% endschema %}